@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Du lieu lay ratu ViewBag</h2>
<p>Ma san pham: @ViewBag.product.ProductId</p>
<p>Ten san pham: @ViewBag.product.ProductName</p>
<p>Nam san xuat: @ViewBag.product.YearRealease</p>
<p>Gia: @ViewBag.product.Price</p>

<h2>Du lieu lay ra tu ViewData</h2>
@{
    var product = ViewData["productVD"] as lab2.Models.Product;
}
<p>Ma san pham: @product.ProductId</p>
<p>Ten san pham: @product.ProductName</p>
<p>Nam san xuat: @product.YearRealease</p>
<p>Gia: @product.Price</p>
