@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var profile_ne = ViewBag.hehe;
}

<h2>Your Profile</h2>
<div class="row">
    <div class="col-md-4">
        <img src="@profile_ne.Avatar" alt="" style="width:100%"/>

    </div>
    <div class="col-md-8">
        <h2>Full name: @profile_ne.Name</h2>
        <h3>Email: @profile_ne.Email</h3>
        <h3>Phone: @profile_ne.Phone</h3>
        <h3>Address: @profile_ne.Address</h3>
        <h3>Bio: @profile_ne.Bio</h3>
        <h3>
            Gender: 
            @if (profile_ne.Gender == 1)
            {
                <span>Male</span>    
            } else {<span>Female</span>}
        </h3>
        <h3>Brithday: @profile_ne.Birthday</h3>
        <p>
            <a asp-asp-controller="Account" 
            asp-action="Index"
            class="btn btn-sm btn-danger">Back to list</a>
        </p>
    </div>
</div>
